.Welcome {
    background-color: rgba(210, 199, 199, 0.8); /* Colore di sfondo con trasparenza */
    padding: 20px; /* Spaziatura interna */
    text-align: center; /* Allineamento del testo al centro */
    size: 30px;
}

.WelcomeBG {
    background-image: url('../img/Immagine4.jpg'); /* Imposta l'immagine di sfondo */
    background-size: cover; /* Copri l'intera area di .WelcomeBG */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Non ripetere l'immagine */
    height: 100vh; /* Altezza uguale all'altezza della finestra del browser */
    display: flex; /* Utilizza il layout flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

.menu {
    font-style: italic;
    color: #0f3e3e;
    width: 100%; /* Larghezza al 100% */
    border-collapse: collapse; /* Unisci i bordi delle celle */
 }

.menu tr {
    border: 2px solid #0f3e3e; /* Bordo */
}

.menu td {
    padding: 1%; /* Spaziatura interna */
    border: 2px solid #0f3e3e; /* Bordo */
    margin: auto;
}

.menu td img {
    height: 25%;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}