body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(/SitoRistorante/img/Immagine4.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }
  
  header {
    background-color: #0f3e3e;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgb(15, 62, 62);
    border:3px solid #0f3e3e;
  }
  
  .map {
    width: 100%;
    height: 300px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px #0f3e3e;
    border:3px solid #0f3e3e;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color:#0f3e3e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  footer {
    background-color:#0f3e3e;
    color: white;
    text-align: center;
    padding: 1em;
  }
/* Animazione fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Applica l'animazione fadeIn al body */
body {
  animation: fadeIn 1s ease-out;
}

.contact-form:hover {
  transform: scale(1.05); /* Aumenta la dimensione della card del 5% quando il cursore è sopra */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra leggera */
}
.contact-info:hover {
  transform: scale(1.05); /* Aumenta la dimensione della card del 5% quando il cursore è sopra */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra leggera */
}
.navbar {
  z-index: 1000; /* o un valore superiore se necessario */
  background-color: rgba(214, 218, 221, 0.8)
}
.navbar .nav-link {
  transition: background-color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  background-color: #8ca4a4;
}

.navbar .nav-link:focus {
  background-color:  #8ca4a4;
}

.social-media-icons a {
  color: #ffffff; /* Cambia il colore del testo */
  text-decoration:dotted; /* Rimuovi la sottolineatura */
  margin-right: 10px; /* Aggiungi spazio a destra */
  display: inline-block; /* Per allineare orizzontalmente */
}