body {
    background-image: url(/img/Immagine4.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 62, 62) ;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover
}

/* Stile dell'intestazione */
header {
    background-color:rgb(15, 62, 62);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Stile del contenuto */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(15, 62, 62);
 font-family: Georgia, 'Times New Roman', Times, serif;
}


footer {
    background-color: #0f3e3e;
    color: white;
    text-align: center;
    padding: 1em;
  }

  .card-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #0f3e3e;
  }
  button {
    background-color: #0f3e3e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .navbar {
    z-index: 1000; /* o un valore superiore se necessario */
    background-color: rgba(214, 218, 221, 0.8)
    
  }
  .navbar .nav-link {
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar .nav-link:hover {
    background-color: #8ca4a4;
  }
  
  .navbar .nav-link:focus {
    background-color:  #8ca4a4;
  }
  
  /* Animazione fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Applica l'animazione fadeIn al body */
body {
  animation: fadeIn 1s ease-out;
}

.social-media-icons a {
  color: #ffffff; /* Cambia il colore del testo */
  text-decoration:dotted; /* Rimuovi la sottolineatura */
  margin-right: 10px; /* Aggiungi spazio a destra */
  display: inline-block; /* Per allineare orizzontalmente */
}