body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(/SitoRistorante/img/Immagine4.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }
  
.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(15, 62, 62);
  border:3px solid #0f3e3e;
};
  
  h2 {
    text-align: center;
  }
  
  input[type="date"],
  select,
  input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #0f3e3e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0f3e3e;
  }

  .navbar {
    z-index: 1000; /* o un valore superiore se necessario */
    background-color: rgba(214, 218, 221, 0.8)
    
  }
  .navbar .nav-link {
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar .nav-link:hover {
    background-color: #8ca4a4;
  }
  
  .navbar .nav-link:focus {
    background-color:  #8ca4a4;
  }
  footer {
    background-color: #0f3e3e;
    color: white;
    text-align: center;
    padding: 3%;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Applica l'animazione fadeIn al body */
  body {
    animation: fadeIn 1s ease-out;
  }

  .social-media-icons a {
    color: #ffffff; /* Cambia il colore del testo */
    text-decoration:dotted; /* Rimuovi la sottolineatura */
    margin-right: 10px; /* Aggiungi spazio a destra */
    display: inline-block; /* Per allineare orizzontalmente */
  }